<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    <!-- LOCALHOST  

    
    <add name="STRConexao" connectionString="server=localhost;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=20000;" />
    <add name="AssalceFolha.Properties.Settings.assalceConnectionString" connectionString="server=localhost;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=200;/>" providerName="MySql.Data.MySqlClient" />

       -->
    <!-- ASSALCE        --> 
    <add name="STRConexao" connectionString="server=SRV;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=20000;"/>
    <add name="AssalceFolha.Properties.Settings.assalceConnectionString" connectionString="server=SRV;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=200;/&gt;" providerName="MySql.Data.MySqlClient"/>


    <!-- ASSALCE  IP  
    <add name="STRConexao" connectionString="server=192.168.1.73;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=20000;"/>
    <add name="AssalceFolha.Properties.Settings.assalceConnectionString" connectionString="server=192.168.1.73;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=200;/>" providerName="MySql.Data.MySqlClient" />

        -->
    <!-- KADU IP  
    <add name="STRConexao" connectionString="server=192.168.1.70;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=20000;"/>
    <add name="AssalceFolha.Properties.Settings.assalceConnectionString" connectionString="server=192.168.1.70;user id=root;PASSWORD=root;database=assalce; Convert Zero Datetime=True; Allow Zero Datetime=False;Connection Timeout=200;/>" providerName="MySql.Data.MySqlClient" />
    -->

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="FolderArquivosFolha" value="D:\temp\Assalce"/>
    <add key="FolderCompras" value="D:\Temp\ComprasAssalce"/>
    <add key="Setting2" value="May 6, 2014"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
